doctype html
html
  head
    title Yodafy 
    link(rel="stylesheet" type="text/css" href="./public/style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="app.js")
  head
  body
    #container
      #form
        form(method='post' action='/')
          input(type="text" name="sentence")
          input(type="submit" value="Yodafy")
