doctype html
html
  head
    title Yodafy 
    link(rel="stylesheet" type="text/css" href="style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="app.js")
  head
  body
    #container
      #Yodafied
        h1 Here is your Yodafied sentence:
          p= sentence